* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: solid 1px red;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(30 30 30);
}

.pomodoro-container {
    display: flex;
    padding: 10px;
    width: 50%;
    flex-direction: column;
    border: 1px solid#ff4742;
    border-radius: 15px;
    background: #e5403b;
    box-shadow: rgb(229, 64, 59, 0.8)0px 8px 24px;
}

.row-container {
    display: flex;
    align-items: center;
    min-height: 50px;
}

.clock-container {
    padding-top: 20px;
    justify-content: flex-end;
}

#clock {
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: #ffffff;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
}

label {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: transparent;
}

input {
    padding: 5px;
    width: 80px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    background-color: transparent;
}

.start-container {
    justify-content: center;
}

.start-button {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 12px 14px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid#ff4742;
    outline: 0;
    box-shadow: rgb(0, 0, 0, 0.1)1px 2px 4px;
}

#start-button:hover {
    background-color: #ffffff;
    font-weight: 600;
    color: #ff4742;
}

.settings-container {
    justify-content: space-around;
    padding-bottom: 20px;
}